header {
    /* background-color: #BDC3BF; */
}

.index-header {
    min-height: 64px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.12);
    gap: 8px;
}

.index-title2 {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
    flex: 1;
}

.index-header-container {
    margin: 0 10px;
}

.index-session {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}